/* Choices */
.choose {
    width: 600px;
    display: inline-block;
}

.prompt {
    /*height: 20px;*/
    font-size: 20px;
}

.choice {
    display: inline-block;
    border-radius: 10%;
    height: 140px; /*adjust for icons*/
    width: 100px;
    margin: 10px;
    border: 1px solid white;
    background-size: 100px 140px; /*adjust for icons*/
}

.choice:hover {
    cursor: pointer;
    border: 1px solid black;
}

.hide {
    display: none;
}

/* Queue */
.queue {
    width: 720px;
    display: inline-block;
    box-sizing: border-box;
    /*position: absolute;*/
}

.wrap-red {
    outline: 2px solid red;
}

.wrap-yellow {
    outline: 2px solid yellow;
}

.icon {
    /*height: 50px;*/
    height: 70px; /*adjust for icons*/
    width: 50px;
    margin: 5px;
    float: left;
    /*border-radius: 10%;*/
    background-size: 50px 70px; /*adjust for icons*/

}

/* Notifications */
.status {
    vertical-align: middle;
    font-size: 22px;
    padding: 5px;
}

.turn {
    vertical-align: middle;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
}


/* Board */
.board {
    margin: 0 auto;
    display: block;
}

.col {
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    background-color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.col:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}

.square {
    display: block;
    height: 100px;
    background-color: inherit;
    overflow: auto;

    /* Vertically centering */
/*    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
}

.circle {
    border-radius: 50%;
    background-color: #f9f9f9;
    height: 80px;
    width: 80px;
    margin: 10px;

    /* Vertically centering */
/*    position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}

.piece {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.fall {
    position: inherit;
}

/* Main */

body {
    background-color: #f9f9f9;
    /*background-color: gray;*/
    margin: 0;
}

.content {
    max-width: 960px;
    display: block;
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", sans serif;
    text-align: center;
    position: relative;
}

.name {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav {
    padding-top: 10px;
}

.nav-content {
    width: 100px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-content a {
    letter-spacing: 4px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-left: 4px;
    display: block;
}

.nav-content a.active,a:hover {
    color: #aaa;
    border-bottom: none;
}
