#casterlily {
    background-image: url('/assets/icons-fgo/casterlily.png');
}

#gil {
    background-image: url('/assets/icons-fgo/gil.png');
}

#grandcaster {
    background-image: url('/assets/icons-fgo/grandcaster.png');
}

#jeanne {
    background-image: url('/assets/icons-fgo/jeanne.png');
}

#kintoki {
    background-image: url('/assets/icons-fgo/kintoki.png');
}

#kiyo {
    background-image: url('/assets/icons-fgo/kiyo.png');
}

#martha {
    background-image: url('/assets/icons-fgo/martha.png');
}

#mhx {
    background-image: url('/assets/icons-fgo/mhx.png');
}

#nobu {
    background-image: url('/assets/icons-fgo/nobu.png');
}

#nursery {
    background-image: url('/assets/icons-fgo/nursery.png');
}

#okita {
    background-image: url('/assets/icons-fgo/okita.png');
}

#saber {
    background-image: url('/assets/icons-fgo/saber.png');
}
